@import '../base';

.header {
  @include flex-between;
  position: fixed;
  top: 0; right: 0; left: 0;
  height: 8rem;
  background-color: white;
  color: white;

  &-nav {
    ul { 
      display: flex;
      margin-block-start: 0;
      margin-block-end: 0;
      padding: 0; 
    }
    li { 
      list-style-type: none; 
      margin-left: 50px;
    }
  }
}