@import '../base';

.home {
  box-sizing: border-box;
  position: relative;
  background: white;
  color: black;
  
  .main {
    box-sizing: border-box;
    padding-top: 50px;
    margin: auto;
    font-size: 1.5rem;
  }
}