@import '../base';

.profile {
  @extend .section;
  margin-bottom: 100vh;

  .name-wrap {
    @extend .flex-on-PC;
    align-items: baseline;
    padding-bottom: 10px;
  }

  .name-kr {
    margin-right: 10px;
    font-size: 3rem;
    font-weight: bolder;
  }

  .name-en {
    font-size: 2rem;
    font-weight: bold;
  }

  .greeting {
    font-size: 2rem;
  }

  .contact {}
}

@media screen and (max-width: 700px) {
  .profile {
    .greeting {
      font-size: 1.5rem;
    }
  }
} 