@import '../base';

.skill {
  &-figure {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
  }

  &-img {
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0 $color-bg;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: space-around;
    row-gap: 20px;
    margin: 20px auto;
    
  }
}

@media screen and (max-width: 768px) {
  .skill {
    &-grid {
      grid-template-columns: repeat(auto-fill, 60px);
    }
  }
}