@import '../base';

.skills {
  @extend .section;

  &-figure {
    margin: 0;
    text-align: center;
    font-size: 13px;
  }

  &-img {
    width: 7rem;
    height: 7rem;
    min-width: 50px;
    min-height: 50px;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0 $color-bg-dark;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: space-around;
    row-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .skill {
    &-grid {
      grid-template-columns: repeat(auto-fill, 60px);
    }
  }
}