// [fonts]
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

// [vars]
$color-active: #286cff;
$color-bg-dark: #272729;
$color-bg-light: #fafafa;
// $mobile-100vh: calc(var(--vh) * 100);
$mobile-100vh: 100vh;

// [mixins]
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// [keyframes]
@keyframes bounce {
  0%   { transform: translateY(0);}
  50%  { transform: translateY(-7px);}
  100% { transform: translateY(0)}
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes active {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}

// [class modules]
.show-under-1024px { display: none; }
.show-under-768px  { display: none; }
.show-under-576px  { display: none; }
.flex-on-PC { display: flex; }

.ml-3 { margin-left: 3rem; }

.section {
  box-sizing: border-box;
  margin: auto;
  padding: 15vh 5vw 10vh;
  width: 80vw;
  min-height: 100vh;
  min-height: $mobile-100vh;
  border-radius: 1rem;
  font-size: 2rem;

  &-title {
    position: relative;
    font-size: 5rem;
    margin: 0;
    margin-bottom: 50px;
    width: fit-content;
  }
}


@media screen and (max-width: 1024px) {
  .show-under-1024px {
    display: initial;
  }
}

@media screen and (max-width: 768px) {
  .flex-on-PC { display: initial; }

  .show-under-768px { display: initial; }

  .section { width: 100vw; }
}
