// [fonts]
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

// [vars]
$color-active: #286cff;
$color-bg-dark: #272729;
$color-bg-light: #fafafa;
$mobile-100vh: calc(var(--vh) * 100);


// [mixins]
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin section-title-dot($top, $right) {
  position: absolute;
  top: $top; right: $right;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: $color-active;
  animation: active 200ms 500ms 2;
}

// [keyframes]
@keyframes bounce {
  0%   { transform: translateY(0);}
  50%  { transform: translateY(-7px);}
  100% { transform: translateY(0)}
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes active {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}

// [class modules]
.show-under-1024px { display: none; }
.show-under-768px  { display: none; }
.show-under-576px  { display: none; }

.section {

  box-sizing: border-box;
  margin: auto;
  padding: 10vh 5vw;
  width: 80vw;
  height: 100vh;
  height: $mobile-100vh;

  &-title {
    position: relative;
    font-size: 5rem;
    margin: 0;
    margin-bottom: 50px;
    width: fit-content;
    // height: 5rem;

    &-dot1 {
      @include section-title-dot(2.5rem, -3rem);
    }

    &-dot2 {
      @include section-title-dot(4.5rem, -3rem);
    }

    &-wrap {
      position: sticky;
      top: 1rem;
    }
  }
}


@media screen and (max-width: 1024px) {
  .show-under-1024px {
    display: initial;
  }
}

@media screen and (max-width: 768px) {
  .show-under-768px {
    display: initial;
  }

  .section {
    width: 100vw;
  }
}
