// [fonts]
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

// [vars]
$color-active: rgb(40, 108, 255);
$color-bg: rgb(21, 21, 22);
$mobile-100vh: calc(var(--vh) * 100);


// [mixins]
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// [keyframes]
@keyframes bounce {
  0%   { transform: translateY(0);}
  50%  { transform: translateY(-7px);}
  100% { transform: translateY(0)}
}

// [class modules]
.show-under-1024px { display: none; }
.show-under-768px  { display: none; }
.show-under-576px  { display: none; }

.section {
  box-sizing: border-box;
  padding-top: 50px;
  margin: auto;
  width: 60vw;
  min-width: 768px;
  font-size: 1.5rem;

  h1 {
    position: relative;
    margin: 0;
    width: fit-content;
    font-size: 5rem;
  }

  .h1-deco {
    position: absolute;
    top: 2rem; left: -3rem;
    height: 4rem;
    width: 1rem;
    background-color: $color-active;
  }

  h2 {
    position: relative;
    margin-top: 50px;
    font-size: 2.5rem;
    background: white;
    border-bottom: 2px solid lightgrey;
  } 

  .h2-deco {
    position: absolute;
    top: 0;
    left: -1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: $color-active;
  }
}

@media screen and (max-width: 1024px) {
  .show-under-1024px {
    display: initial;
  }
}

@media screen and (max-width: 768px) {
  .section {
    width: 80vw;
    min-width: auto;
  }

  .show-under-768px {
    display: initial;
  }
}
