@import './base';

// [base tags]
html {
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-active;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-bg-dark;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 5px;
  }
}
